* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#map {
  width: 100%;
  height: 100%;
}

.esriPopup .sizer {
  min-width: 280px;
  width: auto;
}

.esriPopup .contentPane {
  max-width: initial;
  max-height: initial;
  height: auto;
}
